* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
::-webkit-scrollbar { 
    display: none; 
}

body, html {
height: 100%;
font-family: "Roboto", sans-serif;
}

/* Top section */
#parallax {
background-image: url("./assets/images/person1.jpg") ;
/* width: 100%; */
min-height: 1000px;
margin-bottom: 50px;
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}

.caption{
position: absolute;
left: 0;
top: 50%;
width: 100%;
text-align: center;
color: #000;
background-color: #111;
height: 105px;
padding: 20px;
}
.main-title{
color: white;
font-size: 25px;
letter-spacing: 10px;
text-transform: uppercase;
}
.sub-title{
color: white;
font-size: 15px;
letter-spacing: 10px;
text-transform: uppercase;
}

/* Service section */
.serviceContainer{
    margin-bottom: 50px;
}
.services{
color: black;
font-size: 2rem;
letter-spacing: 10px;
text-transform: uppercase;    
padding: 8%;
}
.nav-link{
    color: peru;
}
.nav-link:hover{
    color: black;
}    
h3 {
text-align: center;
letter-spacing: 5px;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
color: black;
margin-bottom: 20px;
}
/* screen shot model */
#myImg {
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}
#myImg:hover {
opacity: 0.7;
}  
.modal {
display: none;
/* Hidden by default */
position: fixed;
/* Stay in place */
z-index: 1;
/* Sit on top */
padding-top: 100px;
/* Location of the box */
left: 0;
top: 0;
width: 100%;
/* Full width */
height: 100%;
/* Full height */
overflow: auto;
/* Enable scroll if needed */
background-color: rgb(0, 0, 0);
/* Fallback color */
background-color: rgba(0, 0, 0, 0.9);
/* Black w/ opacity */
}  
.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}  
#caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ccc;
padding: 10px 0;
height: 150px;
}  
.modal-content,
#caption {
animation-name: zoom;
animation-duration: 0.6s;
}  
@keyframes zoom {
from {
transform: scale(0)
}
to {
transform: scale(1)
}
}
.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}
.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* About section */
#parallax-2 {
background-image:linear-gradient(rgba(19, 14, 14, 0.45), rgba(19, 14, 14, 0.45)), url("./assets/images/person2.jpg");
height: auto;
margin-bottom: 50px;
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}
.about-row{
margin-left: 0px !important;
margin-right: 0px !important;
}
.about {
color: white;
font-size: 2rem;
letter-spacing: 10px;
text-transform: uppercase;    
padding: 8%;
}
.about-me {
color: white;
padding: 0 12%; 
}
.contact-tags ul{
    list-style-type: none;
    padding: 0px !important;
 }
 .contact-tags ul li {
     display: inline-block;
     padding: 0 14px;   
     font-size: 1.4rem;    
   }
 .social-link{      
     color: white;   
     letter-spacing: 10px;
     text-decoration: none;     
   }
 .social-link:hover{      
     color: peru;
 }
 #assembly.screens.screenShot{
    margin-bottom: 15px;
}

 /* Media Queries */
 @media only screen and (max-device-width: 1366px) {
    #parallax, #parallax-2 {
      background-attachment: scroll;
    }
  }
 @media (max-width: 887px){

 }
 @media (max-width: 768px){
    #myImg{
        margin-bottom: 15px;
    }
 }
 @media (max-width: 488px) {
.caption{
    height: 130px;
}

 }
    
