/* html {
     scroll-behavior: smooth;
     } */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    ::-webkit-scrollbar { 
        display: none; 
    }
    .my-button {
      background-color: transparent;
      border: 10px;
      color: white;
      cursor: pointer;
      font-size: 30px;
      margin-left: 32px;
      float: left;
      line-height: 70px;
      display: none;
    }
    
    .my-button:focus {
      outline: none;
    }
    
    #contact, #works, #about {
      height: 100vh;
      width: 100%;
      position: relative;
    }
    
    #contact .back-img {
      width: 100%;
      height: 100%;
      text-align: center;
    padding: 50px 80px;
    text-align: justify;
      /* background-color: red; */
      background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      /* z-index: 1; */
    }
    
    #contact .nav-bar {
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0; 
      width: 100%;
      margin: 0 auto;
    }
    .nav-bar ul, .contact-tags ul, .task-tags ul{
      padding: 20px;
      text-align: center;
    }
    .nav-bar ul li, .contact-tags ul li {
      display: inline-block;
      padding: 0 14px;
      font-family: helvetica;
      font-size: 1.4rem;
      
    }
    .nav-bar ul li a{
      text-transform: uppercase;
      text-decoration: none;
      color: peru;
    }
    .nav-bar ul li:hover a {
      color: white;
    }
    /* nav .container ul li.active {
      background-color: #3b49df;
      border-radius:30px;
      transition: 0.3s;
      } */
    nav .container ul li.active a {
      color: #ffffff;
      }
   
    #about .second-img {
      width: 100%;
      height: 100%;
      color: #777;
    background-color: red;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
      /* background-image: url('https://images.unsplash.com/photo-1459535653751-d571815e906b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; */
      
    position: absolute;
      /* z-index: 1; */
    }

    #works .third-img {
      width: 100%;
      height: 100%;
      text-align: center;
    padding: 50px 80px;
    text-align: justify;
      /* background-color: red; */
      background-image: url('https://images.unsplash.com/photo-1560185013-ead8277ef8ea?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      /* z-index: 1; */
    }
    
    #contact .title , #works .title , #about .title {
      position: absolute;
      /* z-index: 2; */
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    h2 {
        /* color: white; */
        font-family: helvetica;
        font-weight: 700;
        font-size: 70px;
        letter-spacing: 2px;      
    }
    h4 {
      color: peru;
      font-family: helvetica;
      font-weight: 700;
      font-size: 50px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    p{
      /* color: white; */
      padding: 50px 80px;
      text-align: justify;
    }
    .social-link{      
      color: #777;   
      letter-spacing: 10px;
      text-decoration: none;     
    }
    .social-link:hover{      
      color: peru;
    }
    .task-tags ul li{
      display: inline-block;
      padding: 0 14px;
      margin: 0 5px; 
      
    }
    .task-tags ul li:hover, .task-tags ul li:hover i, .task-tags ul li:hover span, .task-tags ul li:focus, .task-tags ul li:focus i, .task-tags ul li:focus span{
      background-color: white;
      color: peru;
    }
    .task-tags ul li a{
      text-transform: uppercase;
      text-decoration: none;
      color: white;
    }
    .task-tags ul li a i{
      font-size: 45px;
      margin: 75px;
    }
    .task-tags ul li a span{
      color: white;
      font-size: 25px;
      padding: 5px 0 10px 0;
      display: block;
      text-transform: uppercase;
      font-family: helvetica;
      letter-spacing: 1px;
    }
    .task-tags li{
      border-style: solid;
      border-color: white;
      border-width: 1px;
      border-radius: 0.6em;
      background-color: peru;
    }
    .task-size{
      max-width: 225px;
    }
    .back-img, .second-img, .third-img {
      background-attachment: fixed;
    } 

    @media (max-width : 1160px){
      .task-tags ul li{
        margin-top: 15px;
      }
    }
    @media (max-width: 800px) {
      nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
      }
      
      nav ul.show {
        display: flex;
        
      }
      
      .my-button {
        display: block;
        position: fixed;
        z-index: 3;
      }
      nav {
        background-color: rgb(62, 109, 149);
    }
    }
    
    @media (max-width: 600px) {
        nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
      }
      
      nav ul.show {
        display: flex;
      }
      
      .my-button {
        display: block;
      }
        
    }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .second-img {
        width: 50%;
        height: 320px;
      }
     }